:root{
     --dark-blue:#462685;
    --blue-shade:#0d0dc4;
       --bg-shade:#f3ecec;
    --red-color:#E20A0A;
    --purple-color:#FE03B3;
    --navbar-shade:#D8DCB9;
    --shadow:6px 6px 4px 0 rgba(0, 0, 0, 0.25);
    --navbar-color:linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.05%, rgba(37, 49, 164, 0.17) 82.95%, rgba(40, 54, 180, 0.18) 90.86%, rgba(44, 59, 197, 0.20) 99.25%), linear-gradient(90deg, rgba(191, 43, 43, 0.00) 0%, rgba(191, 43, 43, 0.11) 57.09%, rgba(191, 43, 43, 0.14) 72.14%, rgba(191, 43, 43, 0.17) 87.34%, rgba(191, 43, 43, 0.20) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(87, 7, 119, 0.07) 60.58%, rgba(99, 8, 135, 0.08) 68.65%, rgba(116, 10, 158, 0.10) 80.38%, rgba(144, 12, 196, 0.12) 100%), #D3B989;
    --section-shade:#E9DCDC;
    --hero-tag-bg:#C23E3EC9;
    --button-color:linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(121, 16, 38, 0.20) 73.13%, rgba(121, 15, 38, 0.20) 86.57%, rgba(112, 16, 41, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(78, 14, 56, 0.50) 50%, rgba(82, 15, 54, 0.50) 75%, rgba(78, 15, 57, 0.50) 100%), rgba(49, 22, 110, 0.80); 
--skill-card-bg:linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(173, 14, 22, 0.15) 75%, rgba(173, 14, 22, 0.20) 100%), rgba(248, 234, 234, 0.88);

    --footer-bg:linear-gradient(90deg, rgba(0, 0, 0, 0.20) 0%, rgba(216, 188, 10, 0.20) 25.96%, rgba(69, 13, 137, 0.20) 62.98%, rgba(227, 4, 8, 0.20) 100%), #683B67;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Cute Font", sans-serif;
    background-color: var(--bg-shade);
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.red{color:var(--red-color);}
.blue{color:var(--dark-blue);}

p{ margin:0; }
h1{  margin:2rem;}
h2{
    font-size:3.5rem;
    margin:0 2rem;
}
h3{
    width:100%;
    text-align:center;
    font-size:3rem;
    border-radius: 1rem;
    padding:1rem 0;
    margin:0;
}

.load{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin:0.5rem 2rem;
}
.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    background: var(--section-shade);
    box-shadow:var(--shadow);
}

/*header style  */
header > .wrapper{
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    height:4rem;
    background: var(--navbar-color);
    box-shadow: var(--shadow);   
}

.wrapper > .logo{
    font-size:3rem;
    font-weight:550;
} 
.wrapper > nav > .nav{
    display:flex;
    flex-direction:row;
    list-style:none;
    font-size:2.5rem;
    width:35rem;
    justify-content:space-evenly;;  
      
}

a{
    text-decoration:none;
    color:var(--blue-shade);
}

/*hero-section styling  */
.hero > .wrapper > .card{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    height:40rem;
}

.hero > .wrapper > .card img{
    width:35rem;
    height:35rem;
    border-radius: 900px;
    box-shadow:var(--shadow);
}
 

.hero > .wrapper > .card > .info{
    width:30rem;
    height:30rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:2.5rem;
    text-align:center;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    
}

.hero > .wrapper > .tagline{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    font-size:2rem;
    padding:1rem;
    border-radius: 24px;
    background:var(--hero-tag-bg);}
}

/*About-me section  */
.about-me > .wrapper{
    margin-top:1rem;
}
.about-me > .wrapper > .self-intro{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center; 
    font-size:1.5rem;
}

.about-me > .wrapper > .self-intro > .info{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
text-align:justify;
margin:2rem;
    

}

.about-me > .wrapper > p{
    text-align:center;
    font-size:2rem;
}

.self-intro > .image, .self-intro > .image > img{
    width:35rem;
    height:35rem;      
}

/*my-projects section  */

.projects > .wrapper{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    gap:1rem;
}

    .project-card{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:80%;
        margin:0 auto;
        border-radius:2rem;
        background: #E4DBDB;
        box-shadow:var(--shadow);
        gap:1rem;
    }

.project-card > .description{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:justify;  
    padding:0 1rem;
    width:95%;
}

.project-card > .description > .content{
    display:flex;
    width:50%;
    flex-direction:column;
    justify-content:center;
    font-size:1.5rem;
    text-align:justify;
    
}

.project-card > .description > .image > img{
    border-radius: 32px;
    height:30rem;
    width:30rem;

}

.description > .content > p{
    margin:1rem;
}


.project-card > h3{
    background: #9C3593;
     color:white;
   }
.project-card > .button > button{
    margin:0 1em;
    font-size:2rem;
    padding:0.7rem;
    text-align:center;
border-radius: 0.5rem;
background:var(--button-color);
    margin:1rem;
}
.project-card > .button{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
}



/*skills-section */
.skills > .wrapper, .education > .wrapper{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    border-radius: 2rem;
    background: #E9DCDC;
    box-shadow: var(--shadow);
    font-size:2rem;
    height:28em;
    gap:1rem;
}

.skill-card, .education-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:80%;
    border-radius: 24px;
    margin:0 auto;
    background:var(--skill-card-bg);
    box-shadow: var(--shadow);
}

.skill-card > .content ,.education-card > .description{
    width:95%;
    display:flex;
    flex-direction:column;
    margin:0 auto;
    text-align:justify;
    
}

.skill-card > .content > p,.education-card > .description > p{ margin:0.3em;}

.skill-card > h3 ,.education-card > h3{
  background-color:#C23E3E;
    color:white;
}

/*Education -section  */

.education > .wrapper{
     display:flex;
    font-size:3rem;
    height:20em;
}

/*blog -section */ 

.blog > .wrapper{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    border-radius:2rem;
    background: #E9DCDC;
    box-shadow:var(--shadow);
    font-size:2rem;
    height:30em;
    gap:1rem;
}
.post-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
}
.blog-post{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:40%;
    height:20em;
    border-radius: 24px;
    padding:1rem;
background: var(--skill-card-bg);
box-shadow:var(--shadow);
}

.blog-post > .image, .blog-post > .image > img{
    width:100%;
    height:300px;
}

.blog-post > p{margin:0.1em;}
.blog-post > a{
    color:white;
    font-size:2rem;
    margin-top:0.3rem;
    padding:0.5rem 1rem;
    border-radius:0.5rem;
    border-radius: 16px;
background: var(--button-color);
}

.blog-post > h3{
    font-size:2.5rem;
    background-color:#C23E3E;
    color:white;
    font-weight:450;
}

/*footer-section */
footer > .wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
    padding:2rem;
    color:white;
    gap:2rem;
    background: var(--footer-bg);
}
footer > .wrapper > p{ margin:0;}

footer > .wrapper > .connect{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

footer > .wrapper > .connect > .card{
    margin:0 3rem;
    display:flex;
    align-items:center;
    flex-direction:row;
    gap:2rem;
    
}

footer > .wrapper > .feed-back > form {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
    height:3rem;
    gap:2rem;
}

footer > .wrapper > .feed-back > form > input{
    width:20rem;
    height:2.5rem;
    border-radius: 1rem;
}

footer > .wrapper > .feed-back > form > button{
    color:white;
    font-size:1.5rem;
    padding:0.5rem;
    border-radius:0.5rem;
    background: #CD0B0B;

}
::placeholder{
    color:black;
   text-align:center;
    font-size:1.2rem;
    opacity:0.5;
} 