:root{
    --black-color:#1E1E1E;
    --white-color:#FFFFFF;
    --dark-orange:#C23E3E;
    --dark-blue:#462685;
    --dark-magneta:#59183C;
    --bg-light:#DBC8C8;
    --bg-light-shade1:#E9DCDC;
    --magneta-color:#9C3593;
    --red-color:#E20A0A;
    --purple-color:#FE03B3;
}

