
p{ 
    margin:0;
    padding:0.5rem;
    height:100%;
}
a{ text-decoration:none;}

h1{ 
    font-size:4rem; 
    margin:1rem;}

h2{
    font-size:3rem;
    margin:1rem 0rem 1rem 3rem;
}

h3{
    width:100%;
    text-align:center;
    font-size:2.5rem;
    border-radius: 1rem;
    padding:0.5rem 0;
    margin:0;
    font-weight:500;
    color:var(--white);
}

.load{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin:1rem 2rem;
}

.load img{height:2.5rem;}

.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    background: var(--section-shade);
    box-shadow:var(--shadow);
    gap:1rem;
}

section{
    margin-top:1rem;
}

button{
    font-size:1rem;
    padding:1rem;
    color:var(--white);
    border-radius: 2rem;
}


.red{color:var(--red-color);}
.blue{color:var(--dark-blue);}


.card:hover{
    transform: scale(1.1);
}

.load img:hover{
    transform:scale(0.8);
}

#menu-icon{ display:none;}
#cancel-icon{ display:none;}