/*header style  */
header{
    position:sticky;
    top:0;
}
header > .wrapper{
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:4rem;
    background: var(--navbar-color);
    box-shadow: var(--shadow);
}

.wrapper > .logo{
    margin-left:2rem;
    font-size:3rem;
    font-weight:550;
} 
nav{
    margin-right:2rem;
    display:flex;
    align-items:center;
    height:3rem;
}

.wrapper .nav{
    display:flex;
    flex-direction:row;
    list-style:none;
    font-size:2.5rem;
    justify-content: space-evenly;
    gap:1rem;
    padding:0;
}

.nav a{ color:var(--blue-shade);}

.nav a:hover{
    transition:0.3s;
    background-color:var(--nav-hover);
    border-radius:1rem;
    padding:0.2rem 0.5rem;
}   


/*footer-section */
footer > .wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    padding:1rem;
    color:white;
    gap:2rem;
    background: var(--footer-bg);
}

footer > .wrapper > .connect{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

footer > .wrapper > .connect > .card{
    margin:0 2rem;
    display:flex;
    align-items:center;
    flex-direction:row;
    gap:1rem;
    
}
 
footer .wrapper .card a{  transform: scale(0.7);}
footer .wrapper .card p{    font-size:2.5rem;}

footer > .wrapper > .feed-back > form {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
    height:3rem;
    gap:2rem;
}

footer > .wrapper > .feed-back > form > input{
    width:20rem;
    height:2.5rem;
    border-radius: 1rem;
}

footer form > button{ background:var(--skill-card-head-bg);}

::placeholder{
    color:black;
   text-align:center;
    font-size:1rem;
    opacity:0.5;
    font-weight:500;
} 

footer .wrapper .card a:hover{
    transform: scale(0.8);
    transition:0.3s;
    background-color:var(--footer-hover);
    padding:0.5rem 0.5rem 0 0.5rem;
    border-radius:1rem;
}

button:hover{
    transform:scale(1.2);
    background-color: var(--red-color);
    transition:0.3s;
}

input:hover{
    transform:scale(1.1);
}


/* responsive layout */

@media(min-width:320px) and (max-width:800px){

    body{
        font-size: 1rem;
    }
  
    header .wrapper{
        height:3rem;
    }

.wrapper .logo{
    font-size:2.5rem;
}

#cancel-icon{
    display: block;
    width:2rem;
    height:2rem;
    position: absolute;
    top:2rem;
    right:3rem;
    cursor: pointer;
     
}
.wrapper .nav{
    flex-direction:column;
     height:100vh;
    width:100vw;
    z-index:10;
    position: fixed; 
    font-size: 2rem;;
     display: none;
     left: 0;
  top:-2rem;
     right: 0;
  background-color:#B19F91;
   cursor: pointer;
    
}

#menu-icon{
    display: block;
    width:2rem;
    height:2rem;
    cursor: pointer;
}
.nav li{
    position:relative;
    top:6rem;
    font-size:3rem;
    margin:3rem;
    text-align: center;
}


/* footer-section */

footer > .wrapper{
    font-size:1rem;
    padding:1rem; 
}

footer > .wrapper > .connect{
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

footer > .wrapper > .connect > .card{
    margin:0 1rem;
    gap:0.5rem;
}
 
footer .wrapper .card a{  transform: scale(0.5);}
footer .wrapper .card p{    font-size:1.3rem;}

footer > .wrapper > .feed-back > form {
    width:100%;
    height:2rem;
    gap:1rem;
}

footer > .wrapper > .feed-back > form > input{
    width:10rem;
    height:2rem;
    border-radius: 1rem;
}

footer .wrapper .card a:hover{
    transform: scale(0.6);
    transition:0.3s;
    background-color:var(--footer-hover);
    padding:0.5rem 0.5rem 0 0.5rem;
    border-radius:1rem;
}

button{    transform: scale(0.7);}

button:hover{
    transform:scale(0.8);
    background-color: var(--red-color);
    transition:0.3s;
}
.feed-back label{font-size:1.3rem;}

}