body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Cute Font", sans-serif;
    background-color: var(--bg-shade);
    font-size:1.5rem;
}

/*hero-section styling  */

.hero > .wrapper > .hero-card{
    display:flex;   
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    height:30rem;
}

.hero > .wrapper > .hero-card img{
    width:26rem;
    height:26rem;
    border-radius:60rem;
    box-shadow:var(--shadow);
}

.hero > .wrapper > .hero-card > .info{
    width:26rem;
    height:26rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:2.5rem;
    text-align:center;
    border-radius: 2rem;
    box-shadow: var(--shadow);  
    }
    .info p{ height:auto;}

.hero > .wrapper > .tagline{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    font-size:2rem;
    padding:0.5rem;
    color:white;
    background:var(--hero-tag-bg);
}

/*About-me section  */
 
.self-intro{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center; 
    font-size:1.5rem;
    gap:2rem;
}

.self-intro .info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    text-align:justify;
    padding:1rem;
    width:50%;
    min-height:24rem;
}

.about-me > .wrapper > p{
    text-align:center;
    font-size:2rem;
    padding:1rem;
}

.self-intro > img, .self-intro > .image > img{
    width:26rem;
    height:26rem;  
}

/*my-projects section  */

.project-card{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:65%;
        min-height:25rem;
        margin:0 auto;
        border-radius:2rem;
        background: #E4DBDB;
        box-shadow:var(--shadow);
    }

.project-card > .description{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-left:0.5rem;
}

.project-card > .description > .content{
    display:flex;
    width:auto;
    flex-direction:column;
    justify-content:center;
    text-align:justify;
    
}

.project-card > .description > img{
    border-radius:2rem;
    height:20rem;
    width:20rem;
    margin-top:-1rem;
}

.project-card > h3{ background: var(--proj-card-head-bg);}

.project-card button{
    margin:0 1.5rem;
    background:var(--button-color);
}

.project-card > .button{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0.5rem;
    width:100%;
}


/*skills-section &education-section */

.skill-card, .edu-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: stretch;
    width: 45%;
    min-height:20rem;
    border-radius: 2rem;
    background:var(--skill-card-bg);
    box-shadow: var(--shadow);
}

.skill-card > .content ,.edu-card > .description{
    width:95%;
    display:flex;
    flex-direction:column;
    text-align:justify;  
    height:100%;  
}

.skill-card > h3 ,.edu-card > h3{
  background-color: var(--skill-card-head-bg);
    color:var(--white);
    font-size:2rem;
    font-weight:450;
    padding:0.5rem 0;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items: center;
}
.skill-card p, .edu-card p{
    padding:0.2rem;
    height:100%;
}

/* education-section */

.edu-card > .description {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

/*blog -section */ 

.blog-post{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:40%;
    min-height:29rem;
    border-radius: 2rem;
    padding:0.5rem;
    background: var(--skill-card-bg);
    box-shadow:var(--shadow);
}

.blog-post > img{
    width:100%;
    height:18rem;
}

.blog-post > button{
    font-size:1rem;
    margin-top:auto;
    padding:0.5rem 1rem;
    background: var(--button-color);
    text-decoration:none;
}

.blog-post > h3{
    background-color:#C23E3E;
    margin-top:-2rem;
}